<form action="/names" method="post">
  <label for="player-one">Player one name:</label>
  <input type="text" id="player-one" name="player_one">
  <label for="player-two">Player two name:</label>
  <input type="text" id="player-two" name="player_two">
  <input type="submit" value="Submit">
</form>