<form action="/names" method="post">
  <label for="player_one">Player one name:</label>
  <input type="text" id="player_one" name="player_one">
  <label for="player_two">Player two name:</label>
  <input type="text" id="player_two" name="player_two">
  <input type="submit" value="Submit">
</form>